url=https://<URLOFPROXY>
VIRTUAL_HOST=<URLOFPROXY>
VIRTUAL_PORT=80
LETSENCRYPT_HOST=<URLOFPROXY>
LETSENCRYPT_EMAIL=<YOUREMAIL>
APP__HOSTS_WHITELIST_REGEX=<choose a regex from https://github.com/dataunlocker/save-analytics-from-content-blockers>
